In [1]:
import pandas as pd

In [1]:
data = {
    "Nama":["Muchsin","Ali","Dika","Alden"],
    "Jurusan":["Management","Sistem Informasi","Design komunikasi visual","Ilmu Komunikasi"],
    "Matkul":["Economics","Erp","TypoGraphy","Digital Marketing"],
    "Nilai":["A","F","C","D"],
    "Ipk":[4.00,0.25,3.3,2.9]
}

df = pd.DataFrame(data)
df

NameError: name 'pd' is not defined

In [2]:
df[["Nama","Ipk"]].plot(kind='bar',xlabel="Nama murid berdasarkan index",ylabel="Nilai Ipk",title="Nilai IPK setiap murid")

NameError: name 'df' is not defined

In [7]:
from pandas.api.types import CategoricalDtype

nilai = CategoricalDtype(["F","D","C","A"],ordered=True)

df["Nilai"] = df["Nilai"].astype(nilai)
df

      Nama                   Jurusan             Matkul Nilai   Ipk
0  Muchsin                Management          Economics     A  4.00
1      Ali          Sistem Informasi                Erp     F  0.25
2     Dika  Design komunikasi visual         TypoGraphy     C  3.30
3    Alden           Ilmu Komunikasi  Digital Marketing     D  2.90

In [10]:
df.sort_values("Nilai",ascending=False,ignore_index=True)

      Nama                   Jurusan             Matkul Nilai   Ipk
0  Muchsin                Management          Economics     A  4.00
1     Dika  Design komunikasi visual         TypoGraphy     C  3.30
2    Alden           Ilmu Komunikasi  Digital Marketing     D  2.90
3      Ali          Sistem Informasi                Erp     F  0.25